<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Haver</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Haver.styles.css" asp-append-version="true" />
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="header-nav container navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container-fluid">

                <a class="navbar-brand justify-content-start" asp-area="" asp-controller="Home" asp-action="Index"><img id="logo" src="~/assets/images/logo-horizontal-two.png" /></a>

                <ul class=" navbar-nav">
                    @if (User.IsInRole("Admin") || User.IsInRole("Quality Inspector") || User.IsInRole("Engineer") || User.IsInRole("Operations Manager") || User.IsInRole("Procurement"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" onclick="activateLink(this)">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Index" onclick="activateLink(this)">NCR</a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index" onclick="activateLink(this)">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Lookup" asp-action="Index" onclick="activateLink(this)">Lookups</a>
                        </li>
                    }

                </ul>
                @if (User.IsInRole("Admin") || User.IsInRole("Quality Inspector") || User.IsInRole("Engineer") || User.IsInRole("Operations Manager") || User.IsInRole("Procurement"))
                {
                    <div class="dropdown layout-mobile-nav">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-list"></i>
                        </button>   
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            @if (User.IsInRole("Admin") || User.IsInRole("Quality Inspector") || User.IsInRole("Engineer") || User.IsInRole("Operations Manager") || User.IsInRole("Procurement"))
                            {
                                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="NCR" asp-action="Index">NCR</a></li>
                            }
                            @if(User.IsInRole("Admin"))
                            {
                                <li><a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Lookup" asp-action="Index">Lookups</a></li>
                            }
                        </ul>
                    </div>
                }
                <div class="justify-content-end user-notification-menu">
                    @if (User.IsInRole("Admin") || User.IsInRole("Quality Inspector") || User.IsInRole("Engineer") || User.IsInRole("Operations Manager") || User.IsInRole("Procurement"))
                    {
                        <!-- Button trigger modal -->
                        <button class="notification-icon-button" type="button" data-toggle="modal" data-target="#notificationModalCenter">
                            <i class="bi bi-bell"></i>
                            <span></span>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade notification-modal" id="notificationModalCenter" tabindex="-1" role="dialog" aria-labelledby="notificationModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Notifications</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Haver
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/header-nav.js"></script>

    <script>


        LoadNotifications();

        function LoadNotifications() {
            $.ajax({
                type: 'GET',
                url: "/Notification/LoadNotifications",
                dataType: 'json',
                contextType: "application/json; charset=utf8",
                dataType: "json",
                success: function (response) {
                    console.log(response);

                    // Clear existing table rows
                    $('.notification-modal .modal-body').empty();

                    // Populate table with new data
                    $.each(response, function (index, notification) {
                        //decide which icon to use
                        var icon;
                        var iconBackgroundColor;
                        if (notification.type == "createFill") {
                            icon = '<i class="bi bi-pencil-square" style=""></i>'
                            iconBackgroundColor = 'style=" background-color: var(--blue);"'
                        }
                        else if (notification.type == "edited") {
                            icon = '<i class="bi bi-pencil"></i>'
                            iconBackgroundColor = 'style=" background-color: var(--yellow);"'
                        }
                        else if (notification.type == "rejected") {
                            icon = '<i class="bi bi-file-earmark-excel"></i>'
                            iconBackgroundColor = 'style=" background-color: var(--red);"'
                        }
                        else if (notification.type == "rejectedTwice") {
                            icon = '<i class="bi bi-file-earmark-lock2"></i>'
                            iconBackgroundColor = 'style=" background-color: var(--red);"'
                        }
                        else if (notification.type == "close") {
                            icon = '<i class="bi bi-file-earmark-check"></i>'
                            iconBackgroundColor = 'style=" background-color: var(--green);"'
                        }
                        else if (notification.type == "overdueFill") {
                            icon = '<i class="bi bi-alarm"></i>'
                            iconBackgroundColor = 'style=" background-color: var(--text2);"'
                        }
                        else if (notification.type == "overdueNCR") {
                            icon = '<i class="bi bi-calendar3"></i>'
                            iconBackgroundColor = 'style="background-color: var(--text2);"'
                        }
                        else if (notification.type == "expecDateReturn") {
                            icon = '<i class="bi bi-box-seam"></i>'
                            iconBackgroundColor = 'style="background-color: #084d57;"'
                        }

                        var notificationImage = '<div class="notification-icon"' + iconBackgroundColor + '>' + icon + '</div>'

                        var notificationHtml =
                            '<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">' +
                            '<div class="toast-header">' +
                                notificationImage +
                                '<strong class="me-auto">' + notification.title + '</strong>' +
                                '<small>' + notification.date + '</small>' +
                                '<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" style="font-size: 1.5rem;" onclick="DeleteNotification(' + notification.id + ')"><span b-2frekbpj7o="" aria-hidden="true" style="color: black;">×</span></button>' +
                            '</div>' +
                            '<div class="toast-body">' + notification.message + '</div>' + // Assuming you have a message property in your notification object
                            '</div>';

                        $('.notification-modal .modal-body').append(notificationHtml);
                    });

                },
                error: function (error) {

                    console.log(error);
                }
            });
        }

        function DeleteNotification(id) {
            $.ajax({
                type: 'POST',
                url: "/Notification/DeleteNotification",
                dataType: 'json',
                data: { id: id },
                contextType: "application/json; charset=utf8",
                dataType: "json",
                success: function (response) {
                    console.log("Notification deleted");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        $('.notification-icon-button').click(function () {
            NotificationSeen();
        });
        function NotificationSeen() {
            $.ajax({
                type: 'POST',
                url: "/Notification/HandleNotificationView",
                dataType: 'json',
                contextType: "application/json; charset=utf8",
                dataType: "json",
                success: function (response) {
                    console.log("Notifications viewed");
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        LoadNotificationCounter();

        function LoadNotificationCounter() {
            $.ajax({
                type: 'GET',
                url: "/Notification/LoadNotificationCounter",
                dataType: 'json',
                contextType: "application/json; charset=utf8",
                dataType: "json",
                success: function (response) {
                    var counter = response > 9 ? '9+' : response;

                    // Clear existing table rows
                    if (response > 0) {
                        $('.notification-icon-button span').css('display', 'block');
                        $('.notification-icon-button span').append(counter);
                    }
                    else {
                        $('.notification-icon-button').css('margin-right', '0');
                    }

                },
                error: function (error) {

                    console.log(error);
                }
            });
        }


        function activateLink(link) {
            // Remove 'activated' class from previously clicked link
            const activeLink = document.querySelector('.nav-link.activated');
            var allBorders = document.querySelectorAll('.header-nav hr');
            if (activeLink) {
                activeLink.classList.remove('activated');

                allBorders.forEach(function (border) {
                    border.remove();
                });

            }
            borderBottom = document.createElement('hr');
            borderBottom.setAttribute('id', 'tabBorderBottom');

            // Add 'active' class to the clicked link
            link.classList.add('activated');
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
