@model Haver.Models.PrelDecision

<div>
    <h1>Delete Prel. Decision</h1>
    <hr />
</div>

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Decision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Decision)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <partial name="_BackToList" />
    </form>
</div>
