@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="login-page">
    <h1>@ViewData["Title"]</h1>
    <h2>
        Please check your email to reset your password.
    </h2>

</div>
