@model Haver.Models.Supplier

@{
    ViewData["Title"] = "Create Supplier";
}

<div>
    <h1>Create Supplier</h1>
    <hr />
    <div class="text-danger">@Html.Raw(TempData["Feedback"])</div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SupplierCode" class="control-label"></label><span> (required)</span>
                <input asp-for="SupplierCode" class="form-control" oninput="this.value = Math.abs(this.value)" />
                <span asp-validation-for="SupplierCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
